# DB Type: sqlite, mysql, postgres, cockroachdb
# Default if not set: sqlite
#SPOOLCLOUD_DB_TYPE=sqlite

# DB Setup, if not using sqlite
# Database hostname
#SPOOLCLOUD_DB_HOST=
# Database port
#SPOOLCLOUD_DB_PORT=
# Database name
#SPOOLCLOUD_DB_NAME=
# Database login username
#SPOOLCLOUD_DB_USERNAME=
# Path of file which contains the database password. Can be used instead of SPOOLCLOUD_DB_PASSWORD if desired.
#SPOOLCLOUD_DB_PASSWORD_FILE=
# Database login password
#SPOOLCLOUD_DB_PASSWORD=
# Query parameters for the database connection, e.g. set to `unix_socket=/path/to/mysql.sock` to connect using a MySQL socket.
#SPOOLCLOUD_DB_QUERY=

# Logging level: DEBUG, INFO, WARNING, ERROR, CRITICAL
# Logs will only be reported if the level is higher than the level set here
# Default if not set: INFO
#SPOOLCLOUD_LOGGING_LEVEL=INFO

# Automatic nightly backup for SQLite databases
# Default if not set: TRUE
#SPOOLCLOUD_AUTOMATIC_BACKUP=TRUE

# Data directory, where the SQLite database is stored
# Default if not set: /home/<user>/.local/share/spoolcloud
#SPOOLCLOUD_DIR_DATA=/home/pi/spoolcloud_data

# Backup directory, where the SQLite database backups are stored
# Default if not set: /home/<user>/.local/share/spoolcloud/backups
#SPOOLCLOUD_DIR_BACKUPS=/home/pi/spoolcloud_data/backups

# Log directory
# Default if not set: /home/<user>/.local/share/spoolcloud
#SPOOLCLOUD_DIR_LOGS=/home/pi/spoolcloud_data

# Host and port to listen on
SPOOLCLOUD_HOST=0.0.0.0
SPOOLCLOUD_PORT=7912

# Change base path
# Set this if you want to host SpoolCloud at a sub-path
# If you want the root to be e.g. myhost.com/spoolcloud
# Then set this to /spoolcloud
#SPOOLCLOUD_BASE_PATH=

# Enable Collect Prometheus metrics at database
# Default: FALSE
#SPOOLCLOUD_METRICS_ENABLED=TRUE

# Collect items (filaments, materials, etc.) from an external database
# Set this to a URL of an external database. Set to an empty string to disable
# Default: https://donkie.github.io/SpoolCloudDB/
#EXTERNAL_DB_URL=https://myhost.com/spoolclouddb/
# Sync interval in seconds, set to 0 to disable automatic sync. It will only sync on start-up then.
# Default: 3600
#EXTERNAL_DB_SYNC_INTERVAL=3600

# Enable debug mode
# If enabled, the client will accept requests from any host
# This can be useful when developing, but is also a security risk
# Default: FALSE
#SPOOLCLOUD_DEBUG_MODE=TRUE

# UID and GID of the user in the docker container
# These only make sense if you are running SpoolCloud in a docker container
# Default if not set: 1000
#PUID=1000
#PGID=1000

# Allows CORS ORIGIN. 
# Use the https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Access-Control-Allow-Origin semantics
# separated by commas
# for example to allow request from source1.domain.com on port p1 and source2.domain.com on port p2
# SPOOLCLOUD_CORS_ORIGIN=source1.domain.com:p1, source2.domain.com:p2
# to allow from any
# SPOOLCLOUD_CORS_ORIGIN=*
